node_modules
.DS_Store
.tmp
dist
typings
.api
*.log
.vscode

webpack.statistics.*.html
/.vs/slnx.sqlite-journal
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/Workforce/config/applicationhost.config
